" left
noremap j h

" down
noremap k j

" up
noremap l k

" right
noremap ; l

" move to the  character occurrence
noremap ' ;

" redio
noremap U <C-r>

" map black whole regiister
noremap \ "

" past over whithouwt overwiriting default regiister

xnoremap p P

" sync Vim clipboard with OS clipboard
set clipboard^=unnamed,unnamedplus
